<div class="mat-typography">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>list</mat-icon>
            <span >First</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        <span>You shouldn't see me yet!</span>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>filter_list</mat-icon>
            <span>Second</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        <span>Shouldn't see me either!</span>
      </mat-expansion-panel>
    </mat-accordion>
  </div>