<mat-toolbar color="default">
  <span>Privilegios y competencias especiales</span>
  <span class="spacer"></span>
</mat-toolbar>


<div class="container  mat-elevation-z8">

    <section class="container fk_cardFacultativo">

        <div class="row active-with-click">
          <div class="col-lg-4 col-md-6 col-12">
            <article class="material-card Blue-Grey">
              <h2>
                <span>Jorge Baixauli Fons</span>

                <strong>

                  <i class="fa fa-fw fa-star"></i>

                  Traumatología

                </strong>

              </h2>
              <div class="mc-content">
                <div class="img-container">
                  <img class="img-fluid" src="https://t1.uc.ltmcdn.com/images/5/5/8/img_como_prepararse_para_una_consulta_medica_17855_600.jpg">
                </div>
                <div class="mc-description">
                  
                  Espacio para unas pequeñas observaciones 
                </div>
              </div>
              <a class="mc-btn-action">

                <i class="fa fa-bars" (click)="setAnimationCard($event)"></i>

              </a>
              <div class="mc-footer">
                <h4>

                  Contacto

                </h4>
                <a class="fa fa-fw fa-envelope"></a>
                <a class="fa fa-fw fa-twitter"></a>
                <a class="fa fa-fw fa-linkedin"></a>
                <a class="fa fa-fw fa-google-plus"></a>
              </div>
            </article>
          </div>

          <div class="col-lg-4 col-md-6 col-12">

            <div class="titulacion">
              <i>
                <ol>
                  <li>
                    <a>Licenciatura: Medicina y Cirugía</a>
                  </li>
                  <li>
                    <a>Especialidad: Cirugía General y Digestivo</a>
                  </li>
                  <li>
                    <a>Categoría en la CUN: Consultor</a>
                  </li>
                  <li>
                    <a>Otras titulaciones: Doctor en Medicina y Cirugía</a>
                  </li>
                </ol>
              </i>
            </div>

            <div class="button-row">                       
                <a mat-button (click) = "goCompetencias()">Accede a las competencias</a>
            </div>


          </div>

      
        </div>

      </section>

      <hr>

      <h1 clasS="text-center">Departamento de Cirugía General</h1>

      

      <!-- <div class="container">
        <div class="row">

          <div class="col-12 tipoPrivilegios">
            <ol type="A">
              <li data-content="A">
                <a>Sí capacitado y autorizado </a>
              </li>
              <li data-content="B">
                <a>Sí capacitado y autorizado, previa consulta, acompañado o bajo supervisión </a>
              </li>
              <li data-content="C">
                <a>No capacitado o no autorizado </a>
              </li>
            </ol>
          </div>
        </div>
      </div> -->









  <!-- <mat-tab-group>
    <mat-tab label="Datos generales">

     



    </mat-tab>
    <mat-tab label="Competencias">Áreas de competencia en asistencia de {{element.nombre}}
    <hr>
      
      <div class="container">
          <mat-accordion class="accordion-headers-align">
              <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                   Valoración preoperatoria del paciente
                  </mat-panel-title>
          
                </mat-expansion-panel-header>
              
                <mat-form-field class="width50 MT10">
                  <mat-select placeholder="Valoración del riesgo quirúrgico" [formControl]="formControl">
                    <mat-option *ngFor="let privilegio of listPrivilegios" required [value]="privilegio.value">
                      {{ privilegio.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formControl.hasError('required')">Por favor, elige una opción</mat-error>
                  <mat-hint>{{formControl.value?.viewValue}}</mat-hint>
                </mat-form-field>
            
                <mat-form-field class="width49">
                    <input matInput placeholder="Observaciones">
                </mat-form-field>


                <mat-form-field class="width50 MT10">
                  <mat-select placeholder="Valoración y manejo nutricional" [formControl]="formControl">
                    <mat-option *ngFor="let privilegio of listPrivilegios" required [value]="privilegio.value">
                      {{ privilegio.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formControl.hasError('required')">Por favor, elige una opción</mat-error>
                  <mat-hint>{{formControl.value?.viewValue}}</mat-hint>
                </mat-form-field>
            
                <mat-form-field class="width49">
                    <input matInput placeholder="Observaciones">
                </mat-form-field>

                <mat-form-field class="width50 MT10">
                  <mat-select placeholder="Valoración de la co-morbilidad" [formControl]="formControl">
                    <mat-option *ngFor="let privilegio of listPrivilegios" required [value]="privilegio.value">
                      {{ privilegio.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formControl.hasError('required')">Por favor, elige una opción</mat-error>
                  <mat-hint>{{formControl.value?.viewValue}}</mat-hint>
                </mat-form-field>
            
                <mat-form-field class="width49">
                    <input matInput placeholder="Observaciones">
                </mat-form-field>
            

                <mat-action-row>
                  <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                </mat-action-row>
              </mat-expansion-panel>


              <mat-expansion-panel  [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
                <mat-expansion-panel-header>
                  <mat-panel-title color="accent">
                    Cuidados del paciente quirúrgico
                  </mat-panel-title>
                
                </mat-expansion-panel-header>
            
                <mat-form-field class="width50 MT10" >
                  <mat-select placeholder="Analgesia" [formControl]="formControl">
                    <mat-option *ngFor="let privilegio of listPrivilegios" required [value]="privilegio.value">
                      {{ privilegio.viewValue }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formControl.hasError('required')">Por favor, elige una opción</mat-error>
                  <mat-hint>{{formControl.value?.viewValue}}</mat-hint>
                </mat-form-field>

                <mat-form-field class="width49">
                  <input matInput placeholder="Observaciones">
              </mat-form-field>

              <mat-form-field class="width50">
                <mat-select placeholder="Cuidados respiratorios" [formControl]="formControl">
                  <mat-option *ngFor="let privilegio of listPrivilegios" required [value]="privilegio.value">
                    {{ privilegio.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formControl.hasError('required')">Por favor, elige una opción</mat-error>
                <mat-hint>{{formControl.value?.viewValue}}</mat-hint>
              </mat-form-field>
          
              <mat-form-field class="width49">
                  <input matInput placeholder="Observaciones">
              </mat-form-field>

            
                <mat-action-row>
                  <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                  <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                </mat-action-row>
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Infecciones en cirugía y cirugía de las infecciones
                  </mat-panel-title>
               
                </mat-expansion-panel-header>
            
               
                <mat-action-row>
                  <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                  <button mat-button color="primary" (click)="nextStep()">Fin</button>
                </mat-action-row>
              </mat-expansion-panel>
            
            </mat-accordion>
      </div>

    

    </mat-tab>
  </mat-tab-group> -->




</div>
