.container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
  }
  
  .container > * {
    width: 100%;
  }
  
  .form {
    display: flex;
    padding-top: 6px;
  }
  
  .mat-form-field {
    font-size: 16px;
    flex-grow: 1;
  }

  input:focus, textarea:focus {
    outline-color: transparent;
    outline-style: none;
    box-shadow: none;
  }
  
  .mat-dialog-content{
    height: 25vh;
  
  }