<!-- <div class="container">
  <div class="row">

    <div class="col-12 tipoPrivilegios">
      <ol type="A">
        <li data-content="A">
          <a>Sí capacitado y autorizado </a>
        </li>
        <li data-content="B">
          <a>Sí capacitado y autorizado, previa consulta, acompañado o bajo supervisión </a>
        </li>
        <li data-content="C">
          <a>No capacitado o no autorizado </a>
        </li>
      </ol>
    </div>
  </div>
</div>

<hr> -->


<mat-toolbar> {{ dpto}} </mat-toolbar>


<mat-accordion class="accordion-headers-align">
  <!-- <mat-label *ngIf="listCuestionario['Areas']; else null"> hola</mat-label>   -->


 

  
  <!-- <ng-container *ngFor="let area of listCuestionario['Areas']">
      <h1>{{area.Descripcion}}</h1>
      <ul>
        <li *ngFor="let grupo of area.Grupos">{{grupo.Descripcion}}</li>
      </ul>
    </ng-container> -->






    
    <ng-container *ngFor="let area of listCuestionario['Areas']">
    <mat-label #area> {{area.Descripcion}}</mat-label>
    <h1>{{area.Descripcion}}</h1>
    <mat-expansion-panel [expanded]="false" #prueba (opened)="setStep(0)" hideToggle="true" *ngFor="let grupo of area.Grupos">

      <mat-expansion-panel-header>
        <mat-panel-title>
          {{grupo.Descripcion}}
        </mat-panel-title>

      </mat-expansion-panel-header>


      <mat-form-field class="width50 MT10" *ngFor="let pregunta of grupo.Preguntas ">
        <mat-select placeholder="{{pregunta.Descripcion}}" [formControl]="formControl">
          <mat-option *ngFor="let privilegio of listPrivilegios" required [value]="privilegio.Valor">
            {{privilegio.Valor + " - " + privilegio.Descripcion }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.hasError('required')">Por favor, elige una opción</mat-error>      
      </mat-form-field> 

      <mat-form-field class="width49">
        <input matInput placeholder="Observaciones">
      </mat-form-field>

    </mat-expansion-panel>
 
</ng-container> 
  <mat-form-field class="width50 MT10">
      <mat-select placeholder="Valoración y manejo nutricional" [formControl]="formControl">
        <mat-option *ngFor="let privilegio of listPrivilegios" required [value]="privilegio.Valor">
          {{privilegio.Valor + " - " +  privilegio.Descripcion }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formControl.hasError('required')">Por favor, elige una opción</mat-error>
      <mat-hint>{{formControl.value?.Descripcion}}</mat-hint>
    </mat-form-field>

    <mat-form-field class="width49">
      <input matInput placeholder="Observaciones">
    </mat-form-field>

    <mat-form-field class="width50 MT10">
      <mat-select placeholder="Valoración de la co-morbilidad" [formControl]="formControl">
        <mat-option *ngFor="let privilegio of listPrivilegios" required [value]="privilegio.Valor">
          {{ privilegio.Descripcion }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formControl.hasError('required')">Por favor, elige una opción</mat-error>
      <mat-hint>{{formControl.value?.Descripcion}}</mat-hint>
    </mat-form-field>

    <mat-form-field class="width49">
      <input matInput placeholder="Observaciones">
    </mat-form-field>


    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
    </mat-action-row>





</mat-accordion>
