<mat-toolbar> {{ dpto}} </mat-toolbar>

<mat-accordion class="accordion-headers-align">
  <!--Estructura lógica-->

  <ng-container *ngFor="let area of listCuestionario['Areas']">

    <h4>{{area.Descripcion}}</h4>
    <hr>

    <mat-expansion-panel [expanded]="false" hideToggle="false" *ngFor="let grupo of area.Grupos">

      <mat-expansion-panel-header *ngIf="grupo.Preguntas.length > 0; else noQuestions">
        <mat-panel-title>
          {{grupo.Descripcion}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template #noQuestions>
        <label class="wrap">{{grupo.Descripcion}}</label>
    
      </ng-template>

      <ng-container *ngFor="let pregunta of grupo.Preguntas">
        <mat-form-field class="width50 MT10">

          <mat-select placeholder="{{pregunta.Descripcion}}" [(value)]="pregunta.IDPrivilegio">
            <mat-option *ngFor="let privilegio of listPrivilegios" [value]="privilegio.IDPrivilegio">
              {{privilegio.IDPrivilegio + " - " + privilegio.Descripcion }}
            </mat-option>
          </mat-select>

          <!--ESto sobraría usando el two way binding-->
          <!-- <mat-select *ngIf="pregunta.IDPrivilegio === null" placeholder="{{pregunta.Descripcion}}" [formControl]="formControl">
              <mat-option *ngFor="let privilegio of listPrivilegios" required [value]="privilegio.IDPrivilegio">
                {{privilegio.IDPrivilegio + " - " + privilegio.Descripcion }}
              </mat-option>
            </mat-select> -->
          <mat-error *ngIf="formControl.hasError('required')">Por favor, elige una opción</mat-error>
        </mat-form-field>

        <mat-form-field class="width49" *ngIf="grupo.Preguntas.length > 0">
          <input matInput [value]="pregunta.ObservacionesRespuesta" placeholder="Observaciones">
        </mat-form-field>
      </ng-container>
    </mat-expansion-panel>
  </ng-container>




  <!-- Estructura de sólo grupos-->
  <ng-container *ngFor="let grupo of listCuestionario['Grupos']">
    <mat-expansion-panel [expanded]="false" hideToggle="false">
      <mat-expansion-panel-header *ngIf="grupo.Preguntas.length > 0; else noQuestions">
        <mat-panel-title>
          {{grupo.Descripcion}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template #noQuestions>
        <label class="wrap">{{grupo.Descripcion}}</label>
      </ng-template>

      <ng-container *ngFor="let pregunta of grupo.Preguntas">
        <mat-form-field class="width50 MT10">
          <mat-select placeholder="{{pregunta.Descripcion}}" [formControl]="formControl">
            <mat-option *ngFor="let privilegio of listPrivilegios" required [value]="privilegio.Valor">
              {{privilegio.Valor + " - " + privilegio.Descripcion }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="formControl.hasError('required')">Por favor, elige una opción</mat-error>
        </mat-form-field>

        <mat-form-field class="width49" *ngIf="grupo.Preguntas.length > 0">
          <input matInput placeholder="Observaciones">
        </mat-form-field>
      </ng-container>
    </mat-expansion-panel>
  </ng-container>


  <!-- Estructura de sólo preguntas-->
  <!-- <ng-container *ngFor="let pregunta of listCuestionario['Preguntas']">
    <mat-expansion-panel [expanded]="false" (opened)="setStep(0)" hideToggle="false">
      <mat-expansion-panel-header *ngIf="listCuestionario['Preguntas']; else noQuestions">
        <mat-panel-title>
          {{pregunta.Descripcion}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template #noQuestions>
        <label class="wrap">{{pregunta.Descripcion}}</label>
      </ng-template>


    </mat-expansion-panel>
  </ng-container> -->

  <!-- <mat-action-row>
    <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
  </mat-action-row> -->

</mat-accordion>