

<div class="flex-container mat-elevation-z8">
  <div class="form">
    <br>
    <mat-form-field>
      <input matInput #filter placeholder="Búsqueda">
    </mat-form-field>

  </div>
  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
   
    <ng-container matColumnDef="idUser">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idUser}} </mat-cell>
    </ng-container>
   
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 1º apellido </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="apellido2">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 2º apellido </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.apellido2}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Categoría CUN </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.categoria}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="departamento">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.departamento}} </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!-- Add ngClass and click event here -->

    <mat-row *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="{'highlight': selectedRowIndex == row.id}"
      (click)="highlight(row)">
    </mat-row>

  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>




