.bg-cun {
    /* background-color: #b71c1c; */
    background: linear-gradient(to bottom, #b71c1c, #7f0000);
}

.angular-logo {
    margin: 0 4px 3px 0;
    height: 35px;
    vertical-align: middle;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.pointer {
    cursor: pointer;
}

/* 
.mat-sidenav-container {
  background: rgba(0, 0, 0, 0.08);
}

.blank-grow {
  flex: 1 1 auto;
} */